<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" id="login_decor">
  <p align="center" id="biglogo"><img src='/images/kms-logo.svg' alt='KMS Logo' style="margin : 15%;"/></p>
</nav>

<!-- Created by The University of Alabama Management Information Systems capstone program in 2018. -->

<h2 class="page-header">Account Login</h2>

<div class="col-6 col-sm-5 placeholder">
  
</script>

<form method="post" action="/users/login">

  <div class="form-group">
    {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
    <label>Enter email:</label>
    <input type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label>Enter password:</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

<br><br><br>
<h2 class="page-header">Forgot Password</h2>

<div class="col-6 col-sm-5 placeholder">

<form method="post" action="/users/login">
  <div class="form-group">
    <input id="spy" type="text" class="form-control" value="">
    <label>Enter email:</label>
    <input type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <button id="forgot_button" type="button" class="btn btn-default">Email</button>
</form>
</div>

<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script type="text/javascript">
  /* SmtpJS.com - v2.0.1 */
  Email = { send: function (e, o, t, n, a, s, r, c) { var d = Math.floor(1e6 * Math.random() + 1), i = "From=" + e; i += "&to=" + o, i += "&Subject=" + encodeURIComponent(t), i += "&Body=" + encodeURIComponent(n), void 0 == a.token ? (i += "&Host=" + a, i += "&Username=" + s, i += "&Password=" + r, i += "&Action=Send") : (i += "&SecureToken=" + a.token, i += "&Action=SendFromStored", c = a.callback), i += "&cachebuster=" + d, Email.ajaxPost("https://smtpjs.com/v2/smtp.aspx?", i, c) }, sendWithAttachment: function (e, o, t, n, a, s, r, c, d) { var i = Math.floor(1e6 * Math.random() + 1), m = "From=" + e; m += "&to=" + o, m += "&Subject=" + encodeURIComponent(t), m += "&Body=" + encodeURIComponent(n), m += "&Attachment=" + encodeURIComponent(c), void 0 == a.token ? (m += "&Host=" + a, m += "&Username=" + s, m += "&Password=" + r, m += "&Action=Send") : (m += "&SecureToken=" + a.token, m += "&Action=SendFromStored"), m += "&cachebuster=" + i, Email.ajaxPost("https://smtpjs.com/v2/smtp.aspx?", m, d) }, ajaxPost: function (e, o, t) { var n = Email.createCORSRequest("POST", e); n.setRequestHeader("Content-type", "application/x-www-form-urlencoded"), n.onload = function () { var e = n.responseText; void 0 != t && t(e) }, n.send(o) }, ajax: function (e, o) { var t = Email.createCORSRequest("GET", e); t.onload = function () { var e = t.responseText; void 0 != o && o(e) }, t.send() }, createCORSRequest: function (e, o) { var t = new XMLHttpRequest; return "withCredentials" in t ? t.open(e, o, !0) : "undefined" != typeof XDomainRequest ? (t = new XDomainRequest).open(e, o) : t = null, t } };
</script>
<script type="text/javascript">
  $('#spy').hide();

  var spy_token = $('#spy').val().length;

  $('#forgot_button').click(function () {

    if(spy_token == 0) {
	  Email.send("REDACTED");

    document.getElementById("forgot_button").disabled = true;
    }
  });
</script>