<div style="height: 100%; width: 100%;">
<iframe width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiNjlhZTE4ZmUtMTUyNC00NWIyLTgwNTEtMTNkNTZkY2NmYTA4IiwidCI6IjMyNzM3MGIzLTAwMzgtNDk4Zi04ZjYxLWE5NjVmMjA3ZWIyNSIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
</div>